<% include partials/header.ejs %>
<!-- Title -->
<h1>Whatebas</h1>
<!-- probally wanna import p5... and set up a view for the entire usa and on hover it brings up the laws for guns in that city with a click bringing you to offical docs -->




<!-- Explain why you did this... -->
<p> </p>


<% include partials/footer.ejs %>
